p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 0;
}

h1 {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.5rem;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

h3 {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

h4 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

p {
    font-weight: 400;
    font-size: 1.06rem;
    line-height: 1.6rem;
}

h5 {
    font-size: 1rem;
}

.caption {
    font-size: 0.9rem;
}

.title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
}

.largeTitle {
    font-weight: 600;
    font-size: 3.9rem;
    line-height: 1.1;
}

.headerText {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 2.4rem;
}

.footnote {
    font-size: 0.9rem;
}