@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
    position: relative;

}

.menu-toggle {
    position: absolute;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.x {
    cursor: pointer;
    z-index: 99;
}

.x span {
    display: block;
    width: 20px;
    height: 2.5px;
    background: #262626;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

#menu-toggle:checked ~ .x span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked ~ .x span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

#menu-toggle:checked ~ .x span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

#menu-toggle:checked ~ .x span {
    background: white;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #262626;
    color: #ffffff;
    z-index: 5;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

#menu-toggle:checked ~ .mobile-menu {
    top: 0;
}

.mobile-menu > * {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

#menu-toggle:checked ~ .mobile-menu > * {
    opacity: 1;
    transform: translateY(0);
}
